<span class="skeleton skeleton-sm"></span>
<br />
<span class="skeleton"></span>
<br />
<span class="skeleton skeleton-lg"></span>

@code {

	public static RenderFragment Description =>
		@<text>
			 <p>You can put the <code>skeleton</code> class on multiple different elements/components to turn them into
				 a placeholder.</p>
			 <p>Keep in mind that the element might need a fixed/declared width.</p>
	</text>;

}
