<span class="skeleton fg-primary"></span>
<br />
<span class="skeleton fg-secondary"></span>
<br />
<span class="skeleton fg-info"></span>
<br />
<span class="skeleton fg-success"></span>
<br />
<span class="skeleton fg-warning"></span>
<br />
<span class="skeleton fg-danger"></span>
<br />
<span class="skeleton fg-disabled"></span>

@code {

	public static RenderFragment Description =>
		@<p>By setting the element's <code>color</code> style property, you can change the color of the skeleton.</p>;

}
