<span class="skeleton color-primary"></span>
<br />
<span class="skeleton color-secondary"></span>
<br />
<span class="skeleton color-info"></span>
<br />
<span class="skeleton color-success"></span>
<br />
<span class="skeleton color-warning"></span>
<br />
<span class="skeleton color-danger"></span>
<br />
<span class="skeleton color-disabled"></span>

@code {

	public static RenderFragment Description =>
		@<p>By setting the element's <code>color</code> style property, you can change the color of the skeleton.</p>;

}
