bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.DS_Store

# User-specific settings
*.DotSettings.user

# Compiled CleanUI files
CleanUI/wwwroot/*.css
CleanUI/wwwroot/*.css.map
CleanUI/wwwroot/*.js
CleanUI/wwwroot/*.js.map
