<div class="p-relative" style="width: 16em;height: 8em">
	<CleanButton class="p-absolute inset-bs-0"
	             style="inset-inline-start: 5em"
	             popovertarget="popconfirm"
	             popovertargetaction="toggle">
		Default
	</CleanButton>
	<CleanButton class="p-absolute inset-ie-0"
	             style="inset-block-start: 2.5em"
	             popovertarget="popconfirm-right"
	             popovertargetaction="toggle">
		Right
	</CleanButton>
	<CleanButton class="p-absolute inset-be-0"
	             style="inset-inline-start: 5em"
	             popovertarget="popconfirm-bottom"
	             popovertargetaction="toggle">
		Bottom
	</CleanButton>
	<CleanButton class="p-absolute inset-is-0"
	             style="inset-block-start: 2.5em"
	             popovertarget="popconfirm-left"
	             popovertargetaction="toggle">
		Left
	</CleanButton>
</div>

<CleanPopconfirm id="popconfirm">
	Are you sure you want to run this action?
</CleanPopconfirm>
<CleanPopconfirm Id="popconfirm-right" Position="@(PopoverPosition.Right)">
	Are you sure you want to run this action?
</CleanPopconfirm>
<CleanPopconfirm Id="popconfirm-bottom" Position="@(PopoverPosition.Bottom)">
	Are you sure you want to run this action?
</CleanPopconfirm>
<CleanPopconfirm Id="popconfirm-left" Position="@(PopoverPosition.Left)">
	Are you sure you want to run this action?
</CleanPopconfirm>
