<CleanButton class="p-relative">
	Notifications
	<span class="badge badge-attached color-primary">4</span>
</CleanButton>

@code {

	public static RenderFragment Description =>
		@<p>Make sure to give the container of the badge <code>position: relative</code> styling.</p>;

}
