<div class="d-flex flex-row flex-nowrap align-items-center gap-sm">
	<InputNumber @bind-Value="@(value)" />
	<InputNumber @bind-Value="@(value)" PrefixContent="@(Icons.CoinEuro)" />
</div>

@code {

	private int value;

}
