<div class="d-flex flex-row flex-nowrap align-items-start gap-sm @(Class ?? "")" id="@(id)">
	@(ChildContent)
</div>

<CleanButton class="mbs-sm" onclick="@($"toggleDisabled('{id}')")">
	Disable inputs
</CleanButton>

@code {

	[Parameter] public RenderFragment? ChildContent { get; set; }

	[Parameter] public string? Class { get; set; }

	private readonly string id = Guid.NewGuid().ToString();

}
