<div class="d-flex flex-row flex-nowrap align-items-start gap-sm" id="@(id)">
	@(ChildContent)
</div>

<Button class="mbs-sm" onclick="@($"toggleDisabled('{id}')")">
	Disable inputs
</Button>

@code {

	[Parameter] public RenderFragment? ChildContent { get; set; }

	private readonly string id = Guid.NewGuid().ToString();

}
