@rendermode RenderModes.Interactive

<CleanCombobox @bind-Value="@(value)"
          Options="@(Multiple.options)"
          GetOptionValue="@(static (option) => option.Value)"
          GetOptionLabel="@(static (option) => option.Label)" />

@code {

	public static RenderFragment Description =>
		@<p>
			When using an array as the <code>Value</code> parameter, make sure it initially isn't <code>null</code>.
			Always initialize it with an empty array.
		</p>;

	private string[] value = [Multiple.options[0].Value, Multiple.options[^1].Value];

	private static readonly SelectOption[] options =
	[
		new("apple", "Apple"),
		new("banana", "Banana"),
		new("cherry", "Cherry"),
		new("mango", "Mango"),
		new("strawberry", "Strawberry"),
		new("lemon", "Lemon"),
		new("watermelon", "Watermelon"),
	];

	private readonly record struct SelectOption(string Value, string Label);

}
