@rendermode RenderModes.Interactive

<CleanButton @onclick="@(Loading.OnClickAsync)">
	Click me!
</CleanButton>

<CleanButton Loading>
	Loading…
</CleanButton>

@code {

	public static RenderFragment Description =>
		@<text>
			 <p>When the <code>@@onclick</code> parameter of a button returns a task, the button will automatically show
				 its loading state while awaiting the returned task.</p>

			 <p>However, you can also manually add the <code>Loading</code> parameter to control the button's loading
				 state.</p>
	</text>;

}
