<Button Size="@(ButtonSize.ExtraSmall)">
	Extra small
</Button>

<Button Size="@(ButtonSize.Small)">
	Small
</Button>

<Button>
	Default (medium)
</Button>

<Button Size="@(ButtonSize.Large)">
	Large
</Button>

<Button Size="@(ButtonSize.ExtraLarge)">
	Extra large
</Button>
