<Button>
	Default
</Button>

<Button ButtonType="@(ButtonType.Primary)">
	Primary
</Button>

<Button ButtonType="@(ButtonType.Secondary)">
	Secondary
</Button>

<Button ButtonType="@(ButtonType.Danger)">
	Danger
</Button>

<Button ButtonType="@(ButtonType.Link)">
	Link
</Button>
