@using CleanUI.Docs.Components
@inherits LayoutComponentBase

<div class="d-flex flex-row flex-nowrap flex-align-start">
	<aside class="sidebar">
		<Navigation />
	</aside>

	<main class="flex-1">
		@(Body)
	</main>
</div>
