@page "/alert"
@using CleanUI.Docs.Components
@using CleanUI.Docs.Interfaces
@implements IExamplePage

<CleanPageTitle>Alert</CleanPageTitle>

<h1>Alert</h1>

<div>
	<Example TComponent="@(Basic)" />

	<Example TComponent="@(Types)" />

	<Example TComponent="@(WithIcon)" />

	<Example TComponent="@(WithTitle)" />
</div>

@code {

	public static string Label =>
		"Alert";

	public static RenderFragment Icon =>
		Icons.AlertSquareRounded;

	public static string Href =>
		"/alert";

}
