<CleanAlert>
	<TitleContent>
		Hello!
	</TitleContent>
	<ChildContent>
		This alert has a title.
	</ChildContent>
</CleanAlert>

<CleanAlert ShowIcon>
	<TitleContent>
		Hello!
	</TitleContent>
	<ChildContent>
		This alert has a title AND an icon.
	</ChildContent>
</CleanAlert>


<CleanAlert TitleLevel="@(1)" ShowIcon>
	<TitleContent>
		Hello!
	</TitleContent>
	<ChildContent>
		This alert has a title AND an icon.
	</ChildContent>
</CleanAlert>

@code {

	public static RenderFragment Description =>
		@<p>You can adjust the title's heading level using the <code>TitleLevel</code> parameter.</p>;

}
