<CleanAlert ShowIcon>
	This alert has an icon.
</CleanAlert>

<CleanAlert Type="@(AlertType.Success)" ShowIcon>
	This alert has an icon.
</CleanAlert>

<CleanAlert Type="@(AlertType.Warning)" ShowIcon>
	This alert has an icon.
</CleanAlert>

<CleanAlert Type="@(AlertType.Danger)" ShowIcon>
	This alert has an icon.
</CleanAlert>

<CleanAlert IconContent="@(Icons.User)">
	This alert has the <code>User</code> icon.
</CleanAlert>

<CleanAlert>
	<IconContent>
		^_^
	</IconContent>
	<ChildContent>
		The alert's <code>IconContent</code> doesn't have to be an icon!
	</ChildContent>
</CleanAlert>

@code {

	public static RenderFragment Description =>
		@<text>
			 <p>When adding the <code>ShowIcon</code> parameter, the component will show an icon that corresponds to the
				 alert's <code>Type</code> parameter.</p>
			 <p>You can overwrite the alert's icon using the <code>IconContent</code> parameter.</p>
	</text>;

}
