@rendermode RenderModes.Interactive

<CleanPagination @bind-Page="@(page)"
                 Label="Pagination with interactive server rendering"
                 PerPage="@(10)"
                 TotalCount="@(50)" />

@code {

	public static RenderFragment Description =>
		@<text>
			 <p>When the <code>@("<Pagination />")</code> component gets rendered in an <code>Interactive</code>
				 rendermode, it WON'T automatically update the `Page` query parameter.</p>
			 <p>You will have to handle this yourself, as shown in the example.</p>
	</text>;

	private int page;

}
