@page "/pagination"
@using CleanUI.Docs.Components
@using CleanUI.Docs.Interfaces
@implements IExamplePage

<CleanPageTitle>Pagination</CleanPageTitle>

<h1>Pagination</h1>

<Example TComponent="@(Basic)" />

<Example TComponent="@(Interactive)" />

@code {

	public static string Label =>
		"Pagination";

	public static RenderFragment Icon =>
		Icons.Navigation;

	public static string Href =>
		"/pagination";

}
