.alert {
	--icon-spacing: 0.25em;
	--fg: var(--body-fg);
	--bg: var(--body-bg);

	color: var(--fg);
	background-color: var(--bg);

	padding: var(--spacing-md) var(--spacing-lg);

	border-radius: var(--border-radius-md);

	&.alert-info {
		--fg: var(--info-fg);
		--bg: var(--info-bg);
	}

	&.alert-success {
		--fg: var(--success-fg);
		--bg: var(--success-bg);
	}

	&.alert-warning {
		--fg: var(--warning-fg);
		--bg: var(--warning-bg);
	}

	&.alert-danger {
		--fg: var(--danger-fg);
		--bg: var(--danger-bg);
	}

	&.alert-primary {
		--fg: var(--primary-contrast);
		--bg: var(--primary-fg);
	}

	&.alert-secondary {
		--fg: var(--secondary-contrast);
		--bg: var(--secondary-fg);
	}

	& .alert-title {
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		gap: var(--icon-spacing);

		margin-block: 0 var(--spacing-sm);
	}

	& .alert-icon:not(:has(svg)) {
		margin-inline-end: var(--icon-spacing);
	}
}
