.badge {
	display: inline-block;

	line-height: 1;
	vertical-align: middle;

	font-size: var(--font-size-xs);
	font-weight: var(--font-weight-bold);

	padding: var(--spacing-sm) var(--spacing-md);

	color: var(--body-fg);
	background-color: var(--body-bg-tertiary);

	border-radius: var(--border-radius-md);

	text-align: center;
	white-space: nowrap;

	&.badge-attached {
		position: absolute;
		inset-block-start: 0;
		inset-inline-start: 100%;
		
		border-radius: var(--border-radius-pill);

		transform: translate(-50%, -50%);
		
		z-index: 2;
	}
}
