@use '../constants';

.breadcrumbs {
	--spacing: var(--spacing-sm);
	--divider: '|';
	
	list-style: none;

	display: flex;
	flex-flow: row wrap;
	align-items: center;

	padding: 0;
	margin: 0;

	& .breadcrumb {
		&:not(:first-of-type) {
			&:before {
				content: var(--divider);
				
				vertical-align: (-1 * constants.$icon-vertical-align);
				
				padding-inline: var(--spacing);

				color: var(--body-fg-secondary);
			}
		}

		&[aria-current='page'] {
			color: var(--body-fg-secondary);
		}
		
		& .breadcrumb-icon {
			margin-inline-end: (-1 * constants.$icon-vertical-align);
		}
	}
}
