@mixin btn-type($fg, $bg, $hover) {
	--fg: #{$fg};
	--bg: #{$bg};

	&:hover {
		--bg: #{$hover};
	}
}

@mixin btn($fg, $bg) {
	cursor: pointer;

	display: inline-flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	gap: var(--spacing-xs);

	color: $fg;
	background-color: $bg;

	padding: var(--spacing-component-block) var(--spacing-component-inline);

	border: var(--border-width-sm) solid transparent;
	border-radius: var(--border-radius-md);

	font-size: var(--font-size-md);
	font-weight: var(--font-weight-normal);

	transform-origin: center;

	transition: var(--animation);
	transition-property: color, background-color, border-color, transform;
}

.btn {
	@include btn(var(--fg), var(--bg));
	@include btn-type(var(--btn-fg), var(--btn-bg), var(--btn-bg-hover));

	&:not(:disabled):active {
		transform: scale(0.95);
	}

	&:disabled,
	&.btn-disabled {
		--fg: var(--disabled-fg);
		--bg: var(--disabled-bg);

		cursor: not-allowed;
	}

	&.btn-primary {
		@include btn-type(var(--primary-fg), var(--primary-bg), var(--primary-bg-hover));
	}

	&.btn-secondary {
		@include btn-type(var(--secondary-fg), var(--secondary-bg), var(--secondary-bg-hover));
	}

	&.btn-danger {
		@include btn-type(var(--danger-fg), var(--danger-bg), var(--danger-bg-hover));
	}

	&.btn-link {
		--fg: var(--primary-bg);
		--bg: transparent;

		text-decoration: underline;

		&:hover {
			--fg: var(--primary-bg-hover)
		}
	}

	&.btn-icon {
		padding: var(--spacing-component-block);
		line-height: 0;

		& .icon {
			// This needs to be exactly `1.5em` to make the button the same height as the other buttons.
			font-size: 1.5em;
		}
	}

	&.btn-xs {
		font-size: var(--font-size-xs);
	}

	&.btn-sm {
		font-size: var(--font-size-sm);
	}

	&.btn-lg {
		font-size: var(--font-size-lg);
	}

	&.btn-xl {
		font-size: var(--font-size-xl);
	}

	// The button's label element should receive no pointer events,
	// otherwise the `target` property of `PointerEvent`s could have the `<span />` instead of the `<button />`.
	& .btn-label {
		pointer-events: none;
	}
}

a.btn[href] {
	color: var(--fg);
	background-color: var(--bg);
	text-decoration: none;

	&:not(:disabled):active {
		transform: scale(0.95);
	}

	&:hover {
		color: var(--fg);
		background-color: var(--bg);
	}
}
