@use '../constants';

.icon {
	width: 1em;
	height: 1em;
	vertical-align: constants.$icon-vertical-align;
	fill: none;
	stroke: currentColor;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-width: 2;
}
