.input-container {
	position: relative;

	& .input-prefix {
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		pointer-events: none;
		
		color: var(--body-fg-secondary);
		
		font-size: var(--font-size-lg);
		line-height: 1;

		position: absolute;
		inset-block-start: calc(var(--spacing-component-block) * 1.5);
		inset-inline-start: var(--spacing-component-inline);
	}

	& .input {
		--bg: var(--body-bg-secondary);
		--fg: var(--body-fg);

		display: block;

		margin: 0;
		padding-block: var(--spacing-component-block);
		padding-inline: var(--spacing-component-inline);

		color: var(--fg);
		background-color: var(--bg);

		border: var(--border-width) solid var(--border-fg);
		border-radius: var(--border-radius-md);

		transition: var(--animation);
		transition-property: background-color, color, border;

		outline: none;

		&:hover {
			--border-fg: var(--border-fg-hover);
		}

		&:focus {
			--border-fg: var(--primary-fg);
		}
	}

	& .input-prefix + .input {
		padding-inline-start: calc(1em + var(--spacing-component-inline) * 2);
	}
}
