@use './button';

$deselector: ":not([type='checkbox']):not([type='file']):not([type='radio'])";

@mixin input-addon() {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;

	color: var(--body-fg-secondary);

	font-size: var(--font-size-lg);
	line-height: 1;

	position: absolute;
}

.input-container {
	position: relative;
	width: fit-content;

	& .input-prefix {
		@include input-addon();

		inset-block-start: calc(var(--spacing-component-block) * 1.25);
		inset-inline-start: var(--spacing-component-inline);
	}

	& .input-suffix {
		@include input-addon();

		inset-block-start: calc(var(--spacing-component-block) * 1.25);
		inset-inline-end: var(--spacing-component-inline);
	}

	&:has(> .input-prefix) .input#{$deselector} {
		padding-inline-start: calc(1em + var(--spacing-component-inline) * 2);
	}

	&:has(> .input-suffix) .input#{$deselector} {
		padding-inline-end: calc(1em + var(--spacing-component-inline) * 2);
	}
}

.input#{$deselector} {
	--fg: var(--body-fg);
	--bg: var(--body-bg-secondary);

	display: block;

	margin: 0;
	padding-block: var(--spacing-component-block);
	padding-inline: var(--spacing-component-inline);

	color: var(--fg);
	background-color: var(--bg);

	border: var(--border-width) solid var(--border-fg);
	border-radius: var(--border-radius-md);

	transition: var(--animation);
	transition-property: background-color, color, border;

	outline: none;

	&:hover {
		--border-fg: var(--border-fg-hover);
	}

	&:focus {
		--border-fg: var(--primary-fg);
	}

	&:disabled {
		--fg: var(--disabled-fg);
		--bg: var(--disabled-bg);
		--border-fg: var(--disabled-fg);

		cursor: not-allowed;
	}
}

.input:is(textarea) {
	width: 100%;
}

.input[type='file'] {
	color: var(--body-fg);

	transition: var(--animation);
	transition-property: color;

	&::file-selector-button {
		--fg: var(--btn-fg);
		--bg: var(--btn-bg);

		@include button.btn(var(--fg), var(--bg));
	}

	&:not([disabled]) {
		&:hover {
			cursor: pointer;

			&::file-selector-button {
				--btn-bg: var(--btn-bg-hover);
			}
		}

		&:active {
			&::file-selector-button {
				transform: scale(0.95);
			}
		}
	}

	&:disabled {
		color: var(--disabled-fg);

		&::file-selector-button {
			--fg: var(--disabled-fg);
			--bg: var(--disabled-bg);

			cursor: not-allowed;
		}
	}
}

.checkbox-container {
	--fg: var(--body-fg);

	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	gap: var(--spacing-xs);

	color: var(--fg);

	transition: var(--animation);
	transition-property: color;

	&:has(input[type='checkbox'][disabled]) {
		--fg: var(--disabled-fg);

		cursor: not-allowed;
	}
}

.input[type='checkbox'] {
	--fg: var(--primary-fg);

	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;

	// Aligns the `:before` in the center of the element.
	display: grid;
	place-content: center;

	padding: 0;
	margin: 0;

	width: 1em;
	height: 1em;

	color: inherit;
	background-color: transparent;

	border: var(--border-width) solid var(--border-fg);
	border-radius: var(--border-radius-sm);

	transition: var(--animation);
	transition-property: border;

	// @todo Fix hover outline shape (due to `transform`)
	&::before {
		content: '';

		width: 0.75em;
		height: 0.75em;

		transform-origin: center;
		// Not `0` to make the transition look more smooth.
		// I have no idea how/why this works.
		transform: scale(0.01);

		// Windows High Contrast Mode support.
		background-color: CanvasText;

		// A checkmark.
		clip-path: polygon(76.831% 24.747%, 77.811% 23.946%, 80.056% 23.031%, 82.444% 23.031%, 84.689% 23.946%, 85.669% 24.747%, 86.417% 25.648%, 87.327% 27.701%, 87.457% 29.904%, 86.807% 32.031%, 86.189% 32.997%, 85.669% 33.586%, 44.003% 75.253%, 43.102% 76%, 41.049% 76.91%, 38.846% 77.04%, 36.719% 76.39%, 35.753% 75.773%, 35.164% 75.253%, 14.331% 54.419%, 13.53% 53.439%, 12.614% 51.194%, 12.614% 48.806%, 13.53% 46.561%, 14.331% 45.581%, 15.231% 44.833%, 17.285% 43.923%, 19.487% 43.793%, 21.615% 44.443%, 22.581% 45.061%, 23.169% 45.581%, 39.579% 61.994%, 76.831% 24.747%, 76.831% 24.747%);

		box-shadow: inset 1em 1em var(--fg);

		transition: var(--animation);
		transition-property: transform;
	}

	&:checked::before {
		transform: scale(1);
	}

	&:disabled {
		--border-fg: var(--disabled-fg);

		cursor: not-allowed;
	}
}

.radio-container {
	--fg: currentColor;

	cursor: pointer;

	display: inline-flex;
	flex-flow: row nowrap;
	align-items: center;
	gap: var(--spacing-xs);

	color: var(--fg);

	transition: var(--animation);
	transition-property: color;

	&:has(input[disabled]) {
		--fg: var(--disabled-fg);

		cursor: not-allowed;
	}
}

.input[type='radio'] {
	--size: 1em;

	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;

	font: inherit;

	display: grid;
	place-content: center;

	color: currentColor;
	background-color: transparent;

	margin: 0;
	padding: 0;

	width: var(--size);
	height: var(--size);

	border: var(--border-width) solid var(--fg);
	border-radius: 50%;

	transition: var(--animation);
	transition-property: border;

	&::before {
		content: '';

		background-color: var(--primary-fg);

		width: calc(var(--size) / 2.5);
		height: calc(var(--size) / 2.5);

		border-radius: 50%;

		transform: scale(0);

		transition: var(--animation);
		transition-property: transform;
	}

	&:checked {
		&::before {
			transform: scale(1);
		}
	}

	&:disabled {
		cursor: not-allowed;
	}
}

.radio-group {
	& > *:not(:last-child) {
		margin-inline-end: var(--spacing-xs);
	}

	&.radio-group-vertical {
		& .radio-container {
			display: flex;
		}

		& > *:not(:last-child) {
			margin-block-end: var(--spacing-xs);
		}
	}
}

.switch-container {
	cursor: pointer;
}

.switch {
	--spacing: 0.125em;
	--size: 1em;

	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;

	font: inherit;

	position: relative;

	display: inline-block;

	color: inherit;
	background-color: transparent;

	margin: 0;
	padding: var(--spacing);

	width: calc((var(--size) * 2) + (var(--spacing) * 2));
	height: calc(var(--size) + (var(--spacing) * 2) + (var(--border-width) * 2));

	border: var(--border-width) solid var(--border-fg);
	border-radius: var(--border-radius-md);

	z-index: 1;

	&::before {
		content: '';

		position: absolute;
		inset-block: 50%;
		inset-inline-start: var(--spacing);
		inset-inline-end: calc(100% - (var(--size) + var(--spacing)));
		
		display: block;

		background-color: currentColor;

		margin: 0 var(--spacing);

		width: var(--size);
		height: var(--size);

		border: var(--border-width-sm) solid var(--border-fg);
		border-radius: 50%;

		transform: translate(0, -50%);

		transition: var(--animation);
		transition-property: inset;
	}

	&:checked {
		&::before {
			inset-inline-start: calc(100% - (var(--size) + var(--spacing)));
			inset-inline-end: var(--spacing);
		}
	}
}
