.popover {
	--spacing: var(--spacing-xs);

	position: absolute;
	inset: unset;
	inset-block-end: calc(anchor(top) + var(--spacing));

	justify-self: anchor-center;

	margin: 0;
	padding: var(--spacing-sm);

	color: var(--body-fg);
	background: var(--body-bg-secondary);

	border: none;
	border-radius: var(--border-radius-md);

	box-shadow: var(--shadow-md);

	transform: translateX(0) translateY(0);

	transition: var(--animation);
	transition-property: transform;

	&:not(:popover-open) {
		transform: translateY(1em);
	}

	@starting-style {
		transform: translateY(1em);
	}

	&.popover-bottom {
		inset-block-end: unset;
		inset-block-start: calc(anchor(bottom) + var(--spacing));

		&:not(:popover-open) {
			transform: translateY(-1em);
		}

		@starting-style {
			transform: translateY(-1em);
		}
	}

	&.popover-right {
		inset-block-end: calc(anchor(end) + var(--spacing));
		inset-inline-start: calc(anchor(right) + var(--spacing));

		&:not(:popover-open) {
			transform: translateX(-1em);
		}

		@starting-style {
			transform: translateX(-1em);
		}
	}

	&.popover-left {
		inset-block-end: calc(anchor(end) + var(--spacing));
		inset-inline-end: calc(anchor(left) + var(--spacing));

		&:not(:popover-open) {
			transform: translateX(1em);
		}

		@starting-style {
			transform: translateX(1em);
		}
	}
}
