@use '../constants';

@mixin icons($color) {
	& .col-sort-asc .sort-indicator,
	& .col-sort-desc .sort-indicator {
		// SVGs in `background-image` can't use `currentColor` or CSS vars.
		background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="none" stroke="#{$color}" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24"><path d="m6 9 6 6 6-6"/></svg>');
	}

	& .col-options-button {
		background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="#{$color}" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24"><path d="M4 6h16M4 12h16M4 18h16"/></svg>') center center / 1rem no-repeat;
	}
}

@mixin responsive($prefix: "") {
	.table-responsive#{$prefix} {
		overflow-inline: auto;
		-webkit-overflow-scrolling: touch;
	}
}

.table {
	--spacing: var(--spacing-sm);

	-webkit-border-horizontal-spacing: 0;
	-webkit-border-vertical-spacing: 0;

	width: 100%;

	margin-block-end: var(--spacing-lg);

	& thead {
		vertical-align: bottom;
	}

	& tbody {
		vertical-align: top;
	}

	& th,
	& td {
		padding: var(--spacing);

		color: var(--body-fg);
		background-color: var(--body-bg);

		&:empty {
			// ~approx. the height of a non-empty table row.
			// Giving an empty row some height makes the table (almost) remain its height. 
			height: calc(1em + (var(--spacing) * 2) + var(--border-width));
		}

		&:not(:empty) {
			border-bottom: var(--border-width) solid var(--border-fg);
		}
	}

	// @todo Use color#
	@include icons(white);

	& .col-header-content {
		gap: var(--spacing-xs);
	}

	& .col-options {
		font-size: var(--font-size-xs);

		color: var(--body-fg);
		background-color: var(--body-bg-secondary);

		padding: var(--spacing);

		border-radius: var(--border-radius-md);
		border: var(--border-width) solid var(--border-fg);
	}

	& .sort-indicator {
		margin-inline-start: var(--spacing-xs);
	}

	&.table-striped {
		& tr:nth-of-type(odd) td {
			background-color: var(--body-bg-secondary);
		}
	}

	&.table-hover {
		& tr:hover td {
			background-color: var(--body-bg-secondary);
		}

		&.table-striped tr:hover td {
			background-color: var(--body-bg-tertiary);
		}
	}

	&.table-border {
		border-collapse: collapse;

		& tr,
		& td:not(:empty),
		& th:not(:empty) {
			border: var(--border-width) solid var(--border-fg);
		}
	}

	&.table-borderless {
		& * {
			border: none !important;
		}
	}

	&.table-sm {
		--spacing: var(--spacing-xs);
	}

	&.table-lg {
		--spacing: var(--spacing-md);
	}
}

@include responsive();

@each $size, $value in constants.$screen-sizes {
	// `max-width` to only make tables responsive up until a certain screen-size.
	@media (max-width: $value) {
		@include responsive("-#{$size}");
	}
}

html[data-theme=light] .table {
	// @todo Use color#
	@include icons(black);
}
