@page "/card"
@using CleanUI.Docs.Components
@using CleanUI.Docs.Interfaces
@implements IExamplePage

<CleanPageTitle>Card</CleanPageTitle>

<h1>Card</h1>

<Example TComponent="@(Basic)" />

<Example TComponent="@(Variations)" />

<Example TComponent="@(Horizontal)" />

@code {

	public static string Label =>
		"Card";

	public static RenderFragment Icon =>
		Icons.Cards;

	public static string Href =>
		"/card";

}
