<CleanSpinner SpinnerContent="@(Icons.Home)" Spinning />

@code {

	public static RenderFragment Description =>
		@<text>
			 <p>You can update <code>CleanSpinner.Default</code> to override the spinner for every rendered spinners.
				 Spinners who have an explicit <code>SpinnerContent</code> set are not affected.</p>
	</text>;

}
