@page "/icon"
@using CleanUI.Docs.Components
@using CleanUI.Docs.Interfaces
@implements IExamplePage

<CleanPageTitle>Icon</CleanPageTitle>

<h1>Icon</h1>

<Example TComponent="@(Basic)" />

@code {

	public static string Label =>
		"Icons";

	public static RenderFragment Icon =>
		Icons.IconsIcon;

	public static string Href =>
		"/icon";

}
