@page "/icons"
@using CleanUI.Docs.Components
@using CleanUI.Docs.Interfaces
@implements IExamplePage

<CleanPageTitle>Icons</CleanPageTitle>

<h1>Icons</h1>

<Example TComponent="@(Basic)" />

<Example TComponent="@(All)" />

@code {

	public static string Label =>
		"Icons";

	public static RenderFragment Icon =>
		Icons.IconsIcon;

	public static string Href =>
		"/icons";

}
