<div class="p-relative" style="width: 16em;height: 8em">
	<CleanButton class="p-absolute inset-bs-0" style="inset-inline-start: 5em">
		Default
		<CleanTooltip>
			This tooltip is aligned to the top.
		</CleanTooltip>
	</CleanButton>

	<CleanButton class="p-absolute inset-ie-0" style="inset-block-start: 2.5em">
		Right
		<CleanTooltip Position="@(TooltipPosition.Right)">
			This tooltip is aligned to the right.
		</CleanTooltip>
	</CleanButton>

	<CleanButton class="p-absolute inset-be-0" style="inset-inline-start: 5em">
		Bottom
		<CleanTooltip Position="@(TooltipPosition.Bottom)">
			This tooltip is aligned to the bottom.
		</CleanTooltip>
	</CleanButton>

	<CleanButton class="p-absolute inset-is-0" style="inset-block-start: 2.5em">
		Left
		<CleanTooltip Position="@(TooltipPosition.Left)">
			This tooltip is aligned to the left.
		</CleanTooltip>
	</CleanButton>
</div>
