*, *::before, *::after {
	box-sizing: border-box;
}

html {
	color-scheme: dark light;

	font-family: system-ui, -apple-system, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-feature-settings: var(--font-feature);

	line-height: 1.5;
	font-weight: 400;

	-webkit-tap-highlight-color: transparent;
	-webkit-text-size-adjust: none;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html,
body {
	inline-size: 100%;
	min-block-size: 100svb;
	margin: 0;
	padding: 0;
}

body {
	color: var(--body-fg);
	background-color: var(--body-bg);
	accent-color: var(--primary-bg);
}

h1, h2 {
	line-height: 1.2;
	-webkit-hyphens: none;
	hyphens: none;
	font-weight: var(--font-weight-bolder);
}

h1 {
	font-size: var(--font-size-h1);
}

h2 {
	font-size: var(--font-size-h2);
}

h3 {
	font-size: var(--font-size-h3);
	line-height: 1.25;
}

h4 {
	font-size: var(--font-size-h4);
	line-height: 1.375;
}

h5 {
	font-size: var(--font-size-h5);
}

h6 {
	font-size: var(--font-size-h6);
}

h1, h2, h3, h4, h5, h6 {
	font-weight: var(--font-weight-bold);
	padding: 0;
	margin-block: 0 1rlh;
}

summary, p, ul, ol, dl, blockquote, pre, fieldset {
	margin-block: 0 1lh;
}

blockquote {
	padding-block: 0.5em;
	padding-inline: 1em;
	margin-inline: 0;
	background-color: transparent;
	border-inline-start: calc(var(--border-width) * 2) solid var(--border-fg);
}

blockquote footer {
	font-size: var(--font-size-small);
	font-style: italic;
}

blockquote :last-child {
	margin-block-end: 0;
}

:where(ul, ol) {
	margin-block: 0 1lh;
	margin-inline: 0;
	padding-inline-start: 2em;
	padding-block: 0;

	&:where(ul, ol) {
		margin-block: 0;
	}
}

dl {
	margin-block: 0 1lh;
	margin-inline: 0;
	padding: 0;
}

dt {
	margin: 0;
	padding: 0;
	font-weight: var(--font-weight-bold);
}

dd {
	margin: 0;
	padding: 0;
}

address {
	margin-block: 0 1lh;
	margin-inline: 0;
	padding: 0;
	font-style: normal;
}

pre, code, kbd, samp, output {
	color: inherit;
	font: inherit;
	font-family: var(--font-monospace), monospace;
	font-feature-settings: var(--font-feature-monospace);
}

code, pre {
	background-color: var(--body-bg-secondary);
	border-radius: 0.25em;
}

code {
	padding-block: 0.125em;
	padding-inline: var(--spacing-component-inner);
}

pre {
	padding: var(--spacing-md);
	overflow-inline: auto;
}

pre > code {
	padding: 0;
	background-color: transparent;
	font-family: inherit;
	color: inherit;
}

small {
	font-size: var(--font-size-sm);
}

img {
	padding: 0;
	object-fit: contain;
}

video,
img,
figure,
iframe {
	display: block;
	inline-size: 100%;
	max-inline-size: 100%;
	margin-block: 0 1lh;
	margin-inline: auto;
}

figure {
	margin-inline: 0;
}

figure figcaption {
	text-align: center;
	color: var(--color-secondary);
	font-size: var(--font-size-sm);
	font-style: italic;
}

iframe {
	border: var(--border-width-sm) solid var(--border-fg);
}

hr {
	display: block;
	padding: 0;
	margin-block: 1lh;
	border-block-start: var(--border-width) solid var(--border-fg-split);
	border-block-end: 0;
	border-inline: 0;
	border-radius: var(--border-radius-md);
	overflow: hidden;
}

a[href] {
	color: var(--primary-bg);
	text-decoration: underline;
	text-decoration-style: solid;
	text-decoration-color: currentColor;

	&:hover {
		color: var(--primary-bg-hover);
	}

	&:active {
		color: var(--primary-bg-active);
	}
}

button,
summary,
select,
optgroup,
option,
details summary,
input[type="checkbox"],
input[type="radio"],
input[type="range"],
input[type="color"],
input[type="file"],
input[type="submit"],
input[type="reset"],
input[type="button"] {
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

input,
textarea {
	-ms-touch-action: manipulation;
	touch-action: manipulation;
}

textarea {
	resize: block;
}

:where(input[type="submit"], input[type="reset"], input[type="button"], input[type="radio"], input[type="checkbox"], select, button, details summary):not(:disabled) {
	cursor: pointer;
}

:-moz-submit-invalid {
	box-shadow: none;
}

:-moz-ui-invalid {
	box-shadow: none;
}

fieldset {
	padding: var(--spacing-component-block);
	margin-inline: 0;
	border: var(--border-width-sm) solid var(--border-fg);
	border-radius: var(--border-radius-md);
}

fieldset legend {
	margin: 0;
	padding-block: 0;
	padding-inline: var(--spacing-xs);
	margin-inline-start: calc(-1 * var(--spacing-xs));
	background-color: var(--body-bg);
	font-weight: var(--font-weight-bold);
}

button,
input,
select,
textarea,
label {
	vertical-align: middle;
}

button,
input,
select,
textarea,
optgroup,
option,
table {
	font: inherit;
	line-height: inherit;
	color: inherit;
}

input {
	&::-ms-reveal {
		color: currentColor;
	}

	&::-webkit-credentials-auto-fill-button {
		color: currentColor;
	}

	&::-webkit-contacts-auto-fill-button {
		background-color: currentColor;
		cursor: pointer;
	}

	&::-webkit-search-cancel-button,
	&::-webkit-inner-spin-button,
	&::-webkit-credentials-auto-fill-button,
	&::-webkit-caps-lock-indicator {
		color: currentColor;
		cursor: pointer;
	}
}

s, strike {
	text-decoration: line-through;
}

em, i, var {
	font-style: italic;
}

strong, b {
	font-weight: var(--font-weight-bold);
}

u {
	text-decoration: underline;
}

abbr[title] {
	-webkit-text-decoration: underline dotted currentColor;
	text-decoration: underline dotted currentColor;
	cursor: help;
}

input,
textarea {
	-webkit-text-fill-color: currentColor;
	opacity: 1;
}

template, [hidden] {
	display: none !important;
}
