:root,
html[data-theme=dark] {
	--primary-fg: hsl(240, 100%, 60%);
	--primary-fg-hover: hsl(240, 100%, 65%);
	--primary-fg-active: hsl(240, 100%, 70%);
	--primary-fg-disabled: hsl(240, 50%, 40%);
	--primary-contrast: hsl(0, 0%, 95%);

	--secondary-fg: hsl(230, 80%, 60%);
	--secondary-fg-hover: hsl(230, 80%, 65%);
	--secondary-fg-active: hsl(230, 80%, 70%);
	--secondary-contrast: hsl(0, 0%, 95%);

	--info-fg: var(--body-fg);
	--info-bg: hsl(200, 80%, 30%);
	--success-fg: var(--body-fg);
	--success-bg: hsl(130, 50%, 30%);
	--warning-fg: var(--body-fg);
	--warning-bg: hsl(50, 95%, 25%);
	--danger-fg: var(--body-fg);
	--danger-bg: hsl(0, 95%, 40%);
	--danger-bg-hover: hsl(0, 95%, 45%);

	--disabled-fg: hsl(0, 0%, 80%);
	--disabled-bg: hsl(0, 0%, 50%);

	--body-fg: hsl(0, 0%, 95%);
	--body-fg-secondary: hsl(0, 0%, 75%);
	--body-bg: hsl(0, 0%, 10%);
	--body-bg-secondary: hsl(0, 0%, 15%);
	--body-bg-tertiary: hsl(0, 0%, 20%);

	--btn-fg: var(--body-fg);
	--btn-fg-disabled: var(--disabled-fg);
	--btn-bg: hsl(0, 0%, 30%);
	--btn-bg-hover: hsl(0, 0%, 25%);
	--btn-bg-disabled: var(--disabled-bg);

	--font-feature: "tnum", "ss03";

	--font-monospace: ui-monospace, "SFMono-Regular", Menlo, Monaco, "Segoe UI Mono", Consolas, "Courier New", monospace;
	--font-feature-monospace: "tnum", "zero";

	--font-weight-light: 300;
	--font-weight-normal: 400;
	--font-weight-bold: 700;
	--font-weight-bolder: 900;

	--font-size-xs: 0.75em;
	--font-size-sm: 0.875em;
	--font-size-md: 1em;
	--font-size-lg: 1.125em;
	--font-size-xl: 1.25em;

	--font-size-h1: 1.75em;
	--font-size-h2: 1.5em;
	--font-size-h3: 1.25em;
	--font-size-h4: 1.125em;
	--font-size-h5: 1em;
	--font-size-h6: 0.875em;

	--line-height: 1.5;

	--spacing-xs: 0.25em;
	--spacing-sm: 0.5em;
	--spacing-md: 0.75em;
	--spacing-lg: 1em;
	--spacing-xl: 1.125em;

	--spacing-component-block: var(--spacing-sm);
	--spacing-component-inline: var(--spacing-lg);
	--spacing-component-inner: 0.375em;

	--border-fg: hsl(0, 0%, 40%);
	--border-fg-hover: hsl(0, 0%, 50%);
	--border-fg-split: hsl(0, 0%, 25%);
	--border-fg-disabled: hsl(0, 0%, 30%);
	--border-width-sm: max(1px, 0.0625em);
	--border-width: max(2px, 0.125em);

	--border-radius-sm: 0.25em;
	--border-radius-md: 0.5em;
	--border-radius-lg: 0.75em;
	--border-radius-pill: 2.5em;
	--border-radius-circle: 100%;

	--shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
	--shadow-md: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
	--shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175);

	--animation-curve: cubic-bezier(0.33, 1, 0.66, 1);
	--animation-duration-fast: 150ms;
	--animation-duration: 200ms;
	--animation-duration-slow: 250ms;
	--animation-duration-overlay: 300ms;

	--animation: var(--animation-duration) var(--animation-curve);
}

html[data-theme=light] {
	--info-bg: hsl(210, 90%, 65%);
	--success-bg: hsl(130, 50%, 50%);
	--warning-bg: hsl(50, 100%, 60%);
	--danger-bg: hsl(0, 100%, 70%);

	--disabled-fg: var(--body-bg);

	--body-fg: hsl(0, 0%, 10%);
	--body-fg-secondary: hsl(0, 0%, 20%);
	--body-bg: hsl(0, 0%, 95%);
	--body-bg-secondary: hsl(0, 0%, 85%);
	--body-bg-tertiary: hsl(0, 0%, 75%);

	--btn-fg: var(--body-bg);
	--btn-fg-disabled: var(--disabled-fg);
	--btn-bg: hsl(0, 0%, 10%);
	--btn-bg-hover: hsl(0, 0%, 20%);
	--btn-bg-active: hsl(0, 0%, 25%);
	--btn-bg-disabled: var(--disabled-bg);

	--border-fg: hsl(0, 0%, 65%);
	--border-fg-hover: hsl(0, 0%, 60%);
	--border-fg-split: hsl(0, 0%, 85%);
	--border-fg-disabled: hsl(0, 0%, 65%);
}
